@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: linear-gradient(135deg, red, orange);
}

a button
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
}

header
{
    padding: 0px 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

header:hover
{
    background-color: rgba(0, 0, 0, 0.3);
}

header .logo
{
    max-width: 120px;
    max-height: 100px;
    cursor: pointer;
    margin-right: 100px;
}

a button
{
    float: right;
    padding: 9px 25px;
    background: linear-gradient(135deg, orange, red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a button:hover
{
    background: linear-gradient(-135deg, orange, red)
}

.info-box
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 24px;
    gap: 24px;
    background: rgba(255, 227, 198, 0.5);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    border-color: rgba(255, 227, 198, 0.6);
}

.info-box
{
    color: white;
    font-family: "Poppins" sans-serif;
    font-size: 25px;
}