@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 25%, #57b981 89%);
}

header
{
    display: flex;
    align-items: center;
    padding: 0px 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

header:hover
{
    background-color: rgba(0, 0, 0, 0.3);
}

header .logo
{
    max-width: 120px;
    max-height: 100px;
    cursor: pointer;
}

a
{
    margin-left: auto;
}

a button
{
    padding: 9px 25px;
    background: linear-gradient(-135deg, #8BC6EC 25%, #57b981 89%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
}

a button:hover
{
    background: linear-gradient(135deg, #8BC6EC 25%, #57b981 89%);
}

.info-box
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 24px;
    gap: 24px;
    background: rgba(206, 238, 178, 0.3);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    border-color: rgba(206, 238, 178, 0.4);
}

.info-box
{
    color: black;
    font-family: "Poppins" sans-serif;
    font-size: 25px;
}