@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: linear-gradient(135deg, red, orange);
}

li a button
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

header:hover
{
    background-color: rgba(0, 0, 0, 0.3);
}

header .logo
{
    max-width: 120px;
    max-height: 100px;
    cursor: pointer;
    margin-right: 150px;
    order: 1;
}

nav
{
    margin-left: auto;
    order: 2;
}

.links
{
    list-style: none;
}

.links li
{
    display: inline-block;
    padding: 0px 20px
}

.links li a
{
    transition: all 0.1s ease 0s;
    text-decoration: none;
    color: #ffba00;
}

.links li a:hover
{
    color: orange;
}

.links li a:active
{
    color: red;
}

.contacts
{
    order: 3;
}

a button
{
    margin-left: 250px;
    padding: 9px 25px;
    background: linear-gradient(135deg, orange, red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a button:hover
{
    background: linear-gradient(-135deg, orange, red)
}

#info-box
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 24px;
    gap: 24px;
    background: rgba(255, 227, 198, 0.5);
}

#value-proposition
{
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: rgba(255, 227, 198, 0.6);
    margin-bottom: 60px;
}

#value-proposition .logo
{
    margin-left: 330px;
    max-width: 500px;
    max-height: 350px;
}

#value-proposition p
{
    margin-left: 50px;
    font-size: 31px;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-bottom: 50px;
}

#benefits
{
    height: 300px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: rgba(255, 227, 198, 0.6);
}

#benefits .text
{
    margin-top: 40px;
    color: white;
}

#benefits .image
{
    max-width: 500px;
    max-height: 350px;
    float: right;
    margin: 0 0 0 15px;
}

#benefits .head-sentance
{
    margin-left: 140px;
    font-size: 25px;
    margin-bottom: 1px;
}

#benefits .sentance
{
    margin-top: 1px;
    margin-left: 190px;
    font-size: 24px;
}

#features
{
    margin-top: 25px;
    height: 275px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: rgba(255, 227, 198, 0.6);
}

#features .image
{
    max-width: 450px;
    max-height: 250px;
    float: left;
    margin: 0 0 0 15px;
    margin-left: 75px;
    border-radius: 10px;
}

#features .text
{
    margin-left: 40px;
    color: white;
}

#features .head-sentance
{
    margin-left: 140px;
    font-size: 25px;
    margin-bottom: 1px;
}

#features .sentance
{
    font-size: 24px;
    margin-top: 1px;
    margin-left: 190px;
    font-size: 24px;
}
