@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 25%, #57b981 89%);
}

header
{
    display: flex;
    align-items: center;
    padding: 0px 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

header:hover
{
    background-color: rgba(0, 0, 0, 0.3);
}

header .logo
{
    max-width: 120px;
    max-height: 100px;
    cursor: pointer;
    margin-right: 150px;
    order: 1;
}

nav
{
    margin-left: auto;
    order: 2;
}

.links
{
    list-style: none;
}

.links li
{
    display: inline-block;
    padding: 0px 20px
}

.links li a
{
    transition: all 0.1s ease 0s;
    text-decoration: none;
    color: #ffba00;
}

.links li a:hover
{
    color: orange;
}

.links li a:active
{
    color: red;
}

#info-box
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 24px;
    gap: 24px;
    background: rgba(255, 227, 198, 0.5);
}

#value-proposition
{
    margin-top: 80px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: rgba(255, 227, 198, 0.6);
}

#value-proposition .logo
{
    display: table;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#value-proposition p
{
    display: table;
    margin: 0 auto;
    font-size: 2vmax;
    color: white;
    margin-bottom: 60px;
}

#proof
{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: rgba(255, 227, 198, 0.6);
}

#proof .image
{
    display: table;
    width: 30%;
    height: auto;
    float: right;
}

#proof .text
{
    margin-top: 40px;
    margin-left: 10px;
    color: white;
    font-size: 2vw;
    margin-bottom: 40px;
}

#benefits
{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: rgba(255, 227, 198, 0.6);
}

#benefits .text
{
    margin-top: 40px;
    color: white;
    font-size: 2vw;
    margin-bottom: 50px;
}

#benefits .image
{
    width: 35%;
    height: auto;
    float: left;
}

#features
{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: rgba(255, 227, 198, 0.6);
}

#features .image
{
    width: 19%;
    height: auto;
    float: right;
    border-radius: 10px;
}

#features .text
{
    margin-top: 40px;
    color: white;
    font-size: 2vw;
    margin-bottom: 50px;
}

#call-to-action
{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: rgba(255, 227, 198, 0.6);
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
}

#call-to-action .text
{
    margin-top: 40px;
    margin-left: 30px;
    font-size: 2vw;
    color: white;
    margin-bottom: 40px;
}

#call-to-action .cta-text
{
    margin-bottom: 50px;
}

#call-to-action .buttons
{
    float: right;
    margin-right: 150px;
}

#call-to-action button
{
    background: linear-gradient(-135deg, #8BC6EC 25%, #57b981 89%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 60px;
    width: 140px;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

#call-to-action button:hover
{
    background: linear-gradient(135deg, #8BC6EC 25%, #57b981 89%);
}

@media (max-width: 786px)
{
    #value-proposition p
    {
        margin-bottom: 40px;
    }

    #proof .text
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #benefits .text
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #benefits .image
    {
        width: 38%;
    }

    #features .image
    {
        width: 21%;
        border-radius: 10px;
    }

    #features .text
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #call-to-action .text
    {
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    #call-to-action .cta-text
    {
        margin-bottom: 30px;
    }

    #call-to-action .buttons
    {
        margin-right: 30px;
    }

    #call-to-action button
    {
        height: 25px;
        width: 80px;
        font-size: 10px;
    }
}

@media (max-width: 480px)
{
    #value-proposition p
    {
        margin-bottom: 30px;
    }

    #proof .text
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #benefits .text
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #benefits .image
    {
        width: 40%;
    }

    #features .image
    {
        width: 22%;
        border-radius: 10px;
    }

    #features .text
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #features .text
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #call-to-action .text
    {
        margin-top: 20px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    #call-to-action .cta-text
    {
        margin-bottom: 20px;
    }

    #call-to-action .buttons
    {
        margin-right: 30px;
    }

    #call-to-action button
    {
        height: 10px;
        width: 70px;
        font-size: 8px;
    }
}