@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 25%, #57b981 89%);
}

.login-box
{
    max-width: 700px;
    width: 100%;
    background: rgba(206, 238, 178, 0.3);
    padding: 25px 30px;
    border-radius: 5px;
}

.login-box .title
{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.login-box form .user-details
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box
{
    margin: 15px;
    width: calc(100% / 2 - 50px);
}

.user-details .input-box .details
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input
{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5%;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid
{
    border-color: green;
}

form .login-button
{
    height: 45px;
    margin: 45px 0;
}

form .login-button input
{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(-135deg, #8BC6EC 25%, #57b981 89%);
}

form .login-button input:hover
{
    background: linear-gradient(135deg, #8BC6EC 25%, #57b981 89%);
}

form .additional-links
{
    height: 20px;
    margin: 40px 10px;
}

form .additional-links a
{
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

form .additional-links a:hover
{
    color: lightgreen;
}

form .additional-links a:active
{
    color: yellowgreen;
}

@media (max-width: 584px) 
{
    .login-box{max-width: 100%;}

    form .user-details .input-box
    {
        margin: 15px;
        width: 100%;
    }

    .login-box form .user-details
    {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar
    {
        width:0;
    }
}