@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: linear-gradient(135deg, red, orange);
}

li a button
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

header:hover
{
    background-color: rgba(0, 0, 0, 0.3);
}

header .logo
{
    max-width: 80px;
    max-height: 60px;
    cursor: pointer;
    margin-right: 150px;
    border-radius: 100%;
    order: 1;
}

nav
{
    margin-left: auto;
    order: 2;
}

.links
{
    list-style: none;
}

.links li
{
    display: inline-block;
    padding: 0px 20px
}

.links li a
{
    transition: all 0.1s ease 0s;
    text-decoration: none;
    color: #ffba00;
}

.links li a:hover
{
    color: orange;
}

.links li a:active
{
    color: red;
}

.contacts
{
    order: 3;
}

a button
{
    margin-left: 250px;
    padding: 9px 25px;
    background: linear-gradient(135deg, orange, red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a button:hover
{
    background: linear-gradient(-135deg, orange, red)
}

#add-task-box
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
    background: rgba(255, 227, 198, 0.5);
}

.input-box
{
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    font-family: sans-serif;
    font-size: 16px;
    background: rgba(255, 227, 198, 0.5);
}

form .title
{
    border: none;
    background: none;
    margin-bottom: 6px;
}

form .today
{
    border: none;
    background: none;
    margin-bottom: 6px;
}

form .now
{
    border: none;
    background: none;
    margin-bottom: 6px;
}

form .note
{
    resize: none;
    background: none;
    margin-bottom: 6px;
}

form .deleat-button
{
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    background: rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-left: 150px;
    margin-bottom: 5px;
    border-radius: 10px;
}

form .deleat-button:hover
{
    font-size: 25px;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

form .submit
{
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 227, 198, 0.5);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    border-radius: 10px;
}

form .submit:hover
{
    border: none;
    outline: none;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 227, 198, 0.7);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border-radius: 4px;
}

#add-task-button
{
    height: 200px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 120px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#add-task-button:hover
{
    background: rgba(0, 0, 0, 0.2);
    font-size: 130px;
    color: rgba(0, 0, 0, 0.6);
}